
@import 'variables';

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2{
	margin:0
}

.App {
	text-align: center;
}

.App-intro {
	font-size: large;
	background-color: $deep-blue;
	color: white;
}

.App-content{
	margin-top: $header-size;
}

