@import 'variables';

.CreditCardSelector {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;

	cursor: pointer;
	display: flex;
}

.CreditCardSelector-icon{
	margin-right:12px;
}

.CreditCardSelector  .CreditCardSelector-highlight {
	font-weight: bold;
}

.CreditCardSelector-red  .CreditCardSelector-highlight {
	text-decoration: underline;
}

.CreditCardSelector-red{
	color: $warning-red;
}
.CreditCardSelector-blue{
	color: $light-blue;
}