
@import 'variables';

.App-header {
	position:fixed;
	width:100%;
	top:0;
  background-color: $deep-green;
	height: $header-size;
	@include for-size(phone-only) {
		height: $header-size-phone;
	}
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.App-header-picpay-icon{
	width: 24px;
	height: 24px;
	@include for-size(phone-only) {
		width: 16px;
		height: 16px;
	}
}

.App-header-text-boundary{
	max-width: $app-max-width;
	width:100%;
	height:100%;
	margin:auto;
	padding: 16px 30px;
	@include for-size(phone-only) {
    padding: 8px 16px;
  }
	display:flex;
	align-items: center;
}

.App-title {
	color: $title-font-color;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	@include for-size(phone-only) {
    font-size: 10px;
  }
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
	text-align: left;
	color:  $title-font-color;
}

.vertical-line-outer{
	height: 100%;
	padding: 0px 12px;
	@include for-size(phone-only) {
		padding: 0px 8px;
	}
	align-self: stretch;
}

.vertical-line-inner{
	border-left: 2px solid $title-font-color;
	@include for-size(phone-only) {
		border-left: 1px solid $title-font-color;
	}
	height: 100%;
}
