
	$light-blue: #474971;
  $regular-blue: #3c3e64;
  $deep-blue: #1d1e2a;
  $white: #ffffff;
  $light-green: #b4f4e5;
  $deep-green: #7de6c6;
	$light-grey: #d8d8d8;
	$warning-red: #ef5778;


	$app-max-width: 1054px;

	@mixin for-size($size) {
		@if $size == phone-only {
			@media (max-width: 639px) { @content; }
		}
	}

	$header-height: 80px;
	$header-height-phone: 32px;

	$payment-top-position: 100px;
	$payment-width: 640px;

	@mixin unselectable{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}